
         * {box-sizing: border-box;
         }

          /* Start headings css*/
            h1 {font-size: 60px;
              color: white;
            }

            h2 {font-size: 30px;
              color: orange;
            }

            h3 {font-size: 20px;

            }
          /* End headings css*/


          /* Start paragraphs css*/
            p {font-size: 20px;

            }

            p.one {font-size: white 20px;
              color: white;
              background: rgba(0, 50, 0, 0.5);
              margin: 25px 50px 75px 50px;
              padding: 30px 50px 30px 50px;
              text-align: center;
            }
          /*End paragraphs css */


          /* Start images css */
            img {
              width: 60%;
              height: auto;
            }
          /* End images css*/


          /* Start header css */
            header {
            padding: 5px;
            text-align: center;
            }
          /* End header css*/


          /* Start body css */
            body {
            font-family: Arial, Helvetica, sans-serif;
            background-image: url('poah.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            }
          /* End body css */


          /* Start slider css */
           .mySlides {display: none}

            /* Start slider images css */
              img {vertical-align: middle;
              }
            /* End slider images css */

            /* Start Slider container css*/
              .slideshow-container {
              max-width: 1000px;
              position: relative;
              margin: auto;
              }
            /* End Slider container css*/

            /* start slider Next & previous icons css*/

              /* start slider Next & previous icons general css*/
                .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
                }
              /* End slider Next & previous icons css */

              /* start slider next icon position css */
                .next {
                right: 0;
                border-radius: 3px 0 0 3px;
                }
              /* End slider next icon position css */

              /* Start next & previous icon hover css */
                .prev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
                }
              /* End next & previous icon hover css */

            /* End slider Next & previous icons css */

            /*start slider text css*/

              /* start slider Caption text css */
                .text {
                color: #f2f2f2;
                font-size: 20px;
                padding: 8px 12px;
                position: absolute;
                bottom: 8px;
                width: 100%;
                text-align: center;
                background-color: rgb(30, 10, 0, 0.5);
                }
              /* End slider Caption text css */

              /* Start slider Number text (1/3 etc) css */
                .numbertext {
                color: #f2f2f2;
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
                }
              /* End slider Number text (1/3 etc) css */

            /*End slider text css*/

            /* Start slider dots css*/

              /* Start slider dots general css*/
                .dot {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
                }
              /* End slider dots general css*/

              /* Start slider dots hover & active css*/
                .active, .dot:hover {
                background-color: #717171;
                }
              /* End slider dots hover & active css*/

            /* End slider dots css*/

            /* Start slider animation css*/

              /* Start slider Fading animation genaral css */
                .fade {
                animation-name: fade;
                animation-duration: 1.5s;
                }
              /* End slider Fading animation general css */

              /* Start slider Fading animation opacity query css */
                @keyframes fade {
                from {opacity: .4}
                to {opacity: 1}
                }
              /* End slider Fading animation opacity query css */

            /* End slider animation css*/

            /* Start slider screen fitting query css*/
              @media only screen and (max-width: 300px) {
              .prev, .next,.text {font-size: 11px}
              }
            /* End slider screen fitting query css*/

          /* End slider css */


          /* Start top navigation tabs css */

            /* Start topnav tabs general css */
             .topnav {
              overflow: hidden;
              background-color: #333;
              position: sticky;
              top: 0;
              z-index: 1;
              }
            /* End topnav tabs general css */

            /* Start topnav tabs links css */

              /* Start topnav tabs general links css */
                .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 22px;
                }
              /* End topnav tabs general link css */

              /* Start topnav tabs link hover css */
                .topnav a:hover {
                background-color: #ddd;
                color: black;
                }
              /* End topnav tabs link hover css */

              /* Start active topnav tabs link css */
                .topnav a.active {
                background-color: #04AA6D;
                color: white;
                }
              /* End active topnav tabs link css */

            /* End topnav tabs links css */

          /* End top navigation tabs css */